.Home {
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    height: 100vh;
  }
  
  .about-logo {
    width: 40vw;
    max-width: 794.5px;
    height: auto;
    margin: 0 auto;
  }
  
  .central-text {
    font-size: 13pt;
    width: 80%;
    margin: 20px auto;
  }
  
  .central-text p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 25px;
    margin-bottom: 30px;
  }
  
  .about-links {
    position: fixed;
    right: 50px;
    bottom: 25px;
    display: flex;
    flex-direction: column; /* Alinea los iconos en columna */
    gap: 10px; /* Espaciado entre los iconos */
  }
  
  .button-link {
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 6px 6px 12px #c7c7c7, -6px -6px 12px #ffffff;
    border-radius: 40px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-link:hover {
    transition: 0.3s ease;
    background-color: rgb(210, 210, 210);
  }
  
  .button-link:active {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }
  
  svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  