/******************
General Application
*******************/
body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app-left-menu-bar, #right-window {
    display: inline-block;
}

#app-left-menu-bar {
    height: 100%;
}

.window, .graph {
    display: none;
}

.show {
    display: block;
}

/******************
Left Menu Bar
*******************/
#leftMenuBar {
    width: 85px;
    height: 100%;
    border-right: 2px solid black;
    box-sizing: border-box;
}

#leftMenuBar #TeidesatLogo {
    width: 65px;
    margin: 10px;
}

#leftMenuBar ul {
    list-style: none;
    padding: 0;
}

#leftMenuBar ul li {
    position: relative;
    padding: 9px 0;
    height: 48px;
}

#leftMenuBar ul li * {
    display: inline-block;
}

#leftMenuBar ul li .decorator {
    width: 7%;
    height: 100%;
    background-color: #808080;
    margin: 0;
}

#leftMenuBar ul li img {
    width: 50%;
    margin: 4px 0;
    margin-left: 27%;
    filter: invert(57%) sepia(4%) saturate(5%) hue-rotate(337deg) brightness(87%) contrast(90%);
}

#leftMenuBar ul .selected .decorator {
    background-color: #009bcc;
}

#leftMenuBar ul .selected img {
    filter: invert(46%) sepia(86%) saturate(3849%) hue-rotate(168deg) brightness(98%) contrast(101%);
}

/******************
Top Menu Bar
*******************/
#topMenuBar {
    width: calc(100% - 85px);
    height: 50px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    padding-left: 20px;
    position: absolute;
    top: 0;
}

#topMenuBar * {
    display: inline-block;
}

#topMenuBar h3 {
    color: gray;
    margin: 15px;
}

#topMenuBar #tabName {
    margin-left: 25px;
    font-size: 23px;
    font-weight: 900;
}

/******************
Log Window
*******************/
#logs-wrapper {
    width: calc(100% - 85px);
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    overflow-y: scroll;
}

#logs-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logs-wrapper ul li {
    width: 100%;
    font-size: 25px;
    padding: 15px;
    padding-left: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#logs-wrapper ul li strong span {
    color: transparent;
}

#logs-wrapper .Error {
    background-color: rgba(255, 186, 186, 0.8);
    color: #d8000c;
}

#logs-wrapper .Warning {
    background-color: rgba(254, 239, 179, 0.8);
    color: #9f6000;
}

#logs-wrapper .Normal {
    background-color: rgba(189, 229, 248, 0.8);
    color: #00529b;
}

#logs-wrapper .Info {
    background-color: rgba(189, 229, 248, 0.8);
    color: #00529b;
}

#logs-wrapper .Success {
    background-color: rgba(223, 242, 191, 0.8);
    color: #4f8a10;
}

/******************
Video Window
*******************/
#videoWrapper {
    width: calc(100% - 85px);
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    padding: 25px;
    box-sizing: border-box;
}

#videoWrapper #video {
    background-color: darkgray;
    width: 100%;
    max-height: calc(100% - 100px);
}

#videoWrapper button {
    width: 55px;
    border-radius: none;
}

#videoWrapper #start {
    background-color: green;
}

#videoWrapper #stop {
    display: none;
    background-color: red;
}

/******************
Sensor Window
*******************/
#sensorsWrapper {
    width: calc(100% - 85px);
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#sensorsWrapper #temperatureSensors, #sensorsWrapper #voltageSensors {
    display: inline-block;
    margin-right: 40px;
}

#sensorsWrapper .selected {
    background-color: #009bcc;
}

#sensorsWrapper .selected img {
    filter: invert(100%) sepia(6%) saturate(4306%) hue-rotate(209deg) brightness(106%) contrast(105%);
}

#sensorsWrapper .sensor-data {
    display: inline-block;
    width: 246px;
    height: 56px;
    border: 3px solid #009bcc;
    padding: 5px;
    padding-bottom: 8px;
    line-height: 40px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 20px;
}

#sensorsWrapper .sensor-data img {
    height: 40px;
}

#sensorsWrapper .sensor-data .name {
    display: inline-block;
    width: calc((190px)*0.60);
    height: 40px;
    overflow: hidden;
}

#sensorsWrapper .sensor-data .name span {
    vertical-align: text-bottom;
    margin-left: 10px;
}

#sensorsWrapper .sensor-data .value {
    display: inline-block;
    width: calc((190px)*0.4);
    text-align: end;
    height: 40px;
    overflow: hidden;
}

#sensorsWrapper .sensor-data .value strong {
    vertical-align: text-bottom;
}

#sensorsWrapper .graphButton {
    display: inline-block;
    width: 53px;
    height: 56px;
    border: 3px solid #009bcc;
    border-left: none;
    padding-top: 5px;
    padding-left: 5px;
    line-height: 40px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#sensorsWrapper .graphButton img {
    height: 40px;
}

#graphWrapper {
    width: calc(50% - 85px);
    height: calc(100% - 50px);
    border-left: 3px solid #009bcc;
    position: absolute;
    top: 50px;
    margin-left: 50%;
    box-sizing: border-box;
}

#graphWrapper canvas {
    width: 100%;
    height: 100%;
}

#graphWrapper .hideGraph {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #009bcc;
    padding: 10px;
    box-sizing: border-box;
    margin-left: -53px;
}

#graphWrapper img {
    height: 30px;
    filter: invert(100%) sepia(6%) saturate(4306%) hue-rotate(209deg) brightness(106%) contrast(105%);
}